.navbar{ background: white;}
.navbar-default{ border: 0;}
.navbar-brand {
    font-family: 'Crete Round', serif;
    font-size: 40px;
}

a{ 
    border-radius: 5px;
}
a.active{ 
    font-weight: bold;
    border: 1px solid lightgray;
    background: white !important;
    }