<div class="container-fluid" *ngIf="area">
  <div class="row"><h1>{{title}}</h1></div>

  <div class="row">
    <div class="col-xs-4">
      <h4><strong>Male vs. Female population</strong></h4>
      <chart [type]="horizontalBar" [data]="populationData" [options]="horizontalBarOptions"></chart>
    </div>
    <div class="col-xs-4">
      <h4><strong>Age composition</strong></h4>
      <chart [type]="bar" [data]="ageData" [options]="options"></chart>
    </div>
    <div class="col-xs-4">
      <h4><strong>Power usage</strong></h4>
      <chart [type]="bar" [data]="powerData" [options]="options"></chart>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h4><strong>Land vs. Water</strong></h4>
      <chart [type]="pie" [data]="areaData" [options]="barOptions"></chart>
    </div>
  </div>
</div>