<div class="container-fluid" *ngIf="area">
  <!--<div class="row">
    <div class="col-xs-12">
      <pre>{{area | json}}</pre>
    </div>
  </div>-->
  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Population</h4>
        </div>
        <div class="panel-body">
          <p>{{area.aant_inw | number}}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Population density (per sq. km)</h4>
        </div>
        <div class="panel-body">
          <p>{{area.bev_dichth | number}}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Households</h4>
        </div>
        <div class="panel-body">
          <p>{{area.aantal_hh | number}}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Area (ha)</h4>
        </div>
        <div class="panel-body">
          <p>{{area.opp_tot |number}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <chart [type]="bar" [data]="populationData" [options]="options"></chart>
    </div>
    <div class="col-xs-3">
      <chart [type]="pie" [data]="areaData" [options]="options"></chart>
    </div>
  </div>
</div>