<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <h1>Hi there! My name is Stefan Nieuwenhuis</h1>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../public/images/" alt="Ordina Netherlands"/>
      <div class="caption">
        <h3>Ordina</h3>
        <p>...</p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../public/images/angular.png" />
      <div class="caption">
        <h3>Angular 2</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../public/images/trowel.png" />
      <div class="caption">
        <h3>Archaeology</h3>
        <p>...</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../public/images/waterpolo.png" />
      <div class="caption">
        <h3>Waterpolo</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>