<div class="panel panel-default">
    <div class="panel-heading"><h4>Filter</h4></div>
    <div class="panel-body">
        <form #f="ngForm" novalidate>
            <div class="form-group">
                <label>Area name</label>
                <input type="text" name="name" class="form-control" [value]="" [(ngModel)]="filter.name" placeholder="Name of the area" />
            </div>            
            <div class="form-group">
                <label>{{population.display}} <span class="badge">current: {{filter.population | number}}</span></label>
                <input type="range" name="population" [(ngModel)]="filter.population" [min]="population.min" [max]="population.max" [step]="population.step" />
            </div>
            <div class="form-group">
                <label>{{households.display}} <span class="badge">current: {{filter.households | number}}</span></label>
                <input type="range" name="households" [(ngModel)]="filter.households" [min]="households.min" [max]="households.max" [step]="households.step" />
            </div>
            <div class="form-group">
                <label>{{popDensity.display}} <span class="badge">current: {{filter.popDensity | number}}</span></label>
                <input type="range" name="popDensity" [(ngModel)]="filter.popDensity" [min]="popDensity.min" [max]="popDensity.max" [step]="popDensity.step" />
            </div>
            <div class="form-group">
                <label>{{avgPowerUsage.display}} <span class="badge">current: {{filter.avgPowerUsage | number}}</span></label>
                <input type="range" name="avgPowerUsage" [(ngModel)]="filter.avgPowerUsage" [min]="avgPowerUsage.min" [max]="avgPowerUsage.max" [step]="avgPowerUsage.step" />
            </div>
            <div class="form-group">
                <label>{{year.display}} <span class="badge">current: {{filter.year}}</span></label>
                <input type="range" name="year" [(ngModel)]="filter.year" [min]="year.min" [max]="year.max" [step]="year.step" />
            </div>
            <button class="btn btn-default" (click)="save(f.valid, f.value)">Filter</button>
            <button class="btn btn-danger" (click)="reset()">Reset</button>
        </form>
    </div>
</div>